.feedback-container{
    margin: 2em;
    padding: 1px;
    box-sizing: inherit;
    border-radius: 1em;
    background-color: #fff;
    padding: 2rem 4rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px rgba(0, 0, 0, 0.3) 0px 1px 3px -1px ;
}



body{
    padding: 2em;
    font-family: "roboto" sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
}
h2{
    color: red;
    font-size: 2rem;
    margin-bottom: 0.3rem;
}
p{
    color: blue ;
    font-size: 1rem;
}
.emoji-box{
    padding: 1rem;
    width: 60%;
    display: flex;
    justify-content: space-between ;
    
}  

.btn{
    background-color: transparent;
    border: none;
    font-size: 2rem;
    transition: o.3s ease-in-out;
    cursor: pointer;
  
}  
.question{
    margin: 0.5rem 0;
}
textarea{
    padding: 1rem;
    width: 100%;
    background-color: transparent;
    color: black;
    border: 0.1rem solid brown;
    margin-bottom: 0.6rem;
    &:active{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px rgba(0, 0, 0, 0.3) 0px 1px 3px -1px ;
    }
    
    }
   .radio-btns{
    width: 40%;
    display: flex;
    justify-content: space-between;
    
    
    }
  
    .one-btn {
        display: flex;
        }

    input[type="radio"] {
         position: relative; 
        font-size: 2rem;
        width: 1rem;
        height: 2rem;
       border: 0.1rem solid black ;
       border-radius: 50%;
       display: flex;
       justify-content: center;
       align-items: center;
      
    }
   
    /* .info-field{
        width: 100%;
         display: flex; 
        justify-content: space-between;
        flex-direction: column;
        margin: 0.3rem 0;
    } 
    /* .name{
        padding: 1.3rem 0 0 0;
        display: flex;
        flex-direction: column;
       
    } */

    
   
    input[type="text"], input[type="email"] {
        width: 100%;
        border-radius: 20px;
        background-color: transparent;
        padding: 1rem;
        border: 0.1rem solid red;
        margin: 4px;
        outline: none;
        font-size: 18px;
       


    }
    span{
      
        font-size: 1.3rem;
        margin: 10px;
        font-size: bold;
      
      
    }
    .accept{
        display: flex;
        align-items: center;
    }
    .center{
        margin-top: 2rem;
        text-align: center;
    }
    .button{
        width: 100%;
        background-color: brown;
        border-radius: 40px;
        border: none;
        font-size: 1.4rem;
        padding: 1rem 4 rem;
        cursor: pointer;
        color: whitesmoke;
    }
    .button:active{
        background-color: blue;
        transform: scale(0.98);
    }
    .button:hover{
        background-color: #fdcd3b;
        color: red;
    }
